@font-face {
    font-family: amharic;
    src: url(./godana.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{width: 100%;
    height: 100vh;
    background-color: rgba(29, 5, 5, 0.897);
    background-image: url(back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    backdrop-filter: blur(3px);
    color: #f8f8f8;
    font-family: verdana;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem 0 2rem;
    text-align: center;
    overflow: hidden;
    
}
h1{
    font-size: clamp(1rem, 2.5vw, 4rem);
    padding: 1rem 0;
}
h1 span{
    color: #80250b;
    font-size: clamp(1.5rem, 2.5vw, 4rem); 
}
.wrap{
    /* background-color: #f8f8f8; */
    width: 100%;
    display: flex;
    justify-content: center;
    height: 1.6rem;
   
}
#numberInput,#geezInput, #convertButton, #convertToEnglishButton{
    /* all: unset; */
    border-radius: 3px;
    background-color: #000000ab;
    font-size: 1.4rem;
    color: #f7f7f7;
    padding: 1.2rem 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numberInput::placeholder, #geezInput::placeholder{
  color: rgba(70, 70, 70, 0.788);
}
#numberInput, #geezInput{
    width: 50%;
    text-align: start;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #f8f8f8;
    opacity: .4;
}

#numberInput:focus, #geezInput:focus{
    outline: 2px solid #ffffffa8;
    opacity: 1;

}
#convertButton, #convertToEnglishButton{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #6b1e09;
    color: rgb(245, 245, 245);
    cursor: pointer;
    border: 1px solid #f8f8f8;
    border-left: none;
    opacity: .4;
}

#numberInput:focus ~ #convertButton, #geezInput:focus ~ #convertToEnglishButton {
  opacity: 1;
}

input[type="number"], #geezInput {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }
  input::-webkit-inner-spin-button, 
  input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }

  #result, #resultArabic{
    padding: 2.4rem 0;
    font-size: 2.1rem;
    font-family: amharic, "sans-serif";
    font-weight: 100;
    letter-spacing: 2px;
  }
  .footer{
    width: 100%;
    background-color: #80250b;
    position: absolute;
    bottom: 0;
    padding: 5px;
    font-size: 15px;
    pointer-events: none;
  }

  @media screen and (max-width: 500px){
      body{
        padding-inline: 10px;
      }
      h1{
        font-size: clamp(1.2rem, 2.5vw, 4rem); 
      }
    .footer{
        font-size: 12px;
    }
    #numberInput,#geezInput, #convertButton, #convertToEnglishButton{
        font-size: 1.2rem;
        padding: 1rem 1.3rem;
    }
    #numberInput, #geezInput{
        width: 100%;
    }
  }